<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>GIS - AMU</title>

  <link rel="stylesheet" href="/css/leaflet.css" />
  <link rel="stylesheet" href="/css/leaflet.draw.css" />
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content">
        <div class="container-fluid">
          {{{body}}}
        </div>
      </div>
    </div>
  </div>

  <!-- Leaflet  & Plugins -->
  <script src="/js/leaflet.js"></script>
  <script src="/js/leaflet.draw.js"></script>
  <script src="/js/pouchdb.js"></script>
  <script src="/js/L.TileLayer.PouchDBCached.js"></script>
  <!-- Costum Js -->
  <script src="/js/leaflMap.js"></script>
</body>

</html>